<div id="page-node">
    <div id="cars-page">
        <div class="SiteChromeHeader__root">
            

            <!-- header -->

            <header data-pathname="/cars/san-francisco" class="SiteChromeHeader__background SiteChromeHeader__car-listings-active cars-page-active"
                    id="topmenu">
                <nav class="SiteChromeHeader__nav">
                    <a class="SiteChromeHeader__default-logo SiteChromeHeader__shift-logo" href="/"></a>

                    <div class="region-select-wrapper shift-select-container white SiteChromeHeader__region-select-container">
                        <span class="region-select white shift-select-container">

                        </span>
                    </div>
                    <ul class="SiteChromeHeader__navigation SiteChromeHeader__hidden">
                        <li class="SiteChromeHeader__favorites-heart-li">
                            <a class="SiteChromeHeader__favorites-heart CarFavoritesHeaderHeart__root CarFavoritesHeaderHeart__no-favorites" href="#">
                                <div class="CarFavoritesHeaderHeart__heart-container">
                                    <div class="CarFavoritesHeaderHeart__heart"></div>
                                </div>
                                <div class="CarFavoritesHeaderHeart__number-container">
                                    <div class="CarFavoritesHeaderHeart__number">0</div>
                                </div>
                            </a>
                        </li>
                        <li class="SiteChromeHeader__navigation-link SiteChromeHeader__car-listings"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text SiteChromeHeader__active-link">Browse cars</span></a></li>
                        <li class="SiteChromeHeader__navigation-link SiteChromeHeader__selling"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Sell your car</span></a></li>
                        <li class="SiteChromeHeader__navigation-link SiteChromeHeader__financing"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Financing</span></a></li>
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">How it works</span></a></li>
                        <li class="SiteChromeHeader__more-li">
                            <span class="SiteChromeHeader__navigation-text SiteChromeHeader__more-link" id="more-nav-link" ng-click="moreLinkEnabled = !moreLinkEnabled">More</span>
                            <ul class="SiteChromeHeader__more-nav" ng-class="{'SiteChromeHeader__hidden': !moreLinkEnabled}">
                                <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">About Haladrive</span></a></li>
                                <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Get the Mobile App</span></a></li>
                                <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Car Loan Calculator</span></a></li>
                                <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Blog</span></a></li>
                                <li class="SiteChromeHeader__navigation-link SiteChromeHeader__enthusiasts"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Concierges</span></a></li>
                                <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Careers</span></a></li>
                                <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Support</span></a></li>
                                <li class="SiteChromeHeader__navigation-link SiteChromeHeader__phone"><a class="SiteChromeHeader__navigation-link-anchor" href="tel:+03343533668"><span class="SiteChromeHeader__navigation-text">855-744-3801</span></a></li>
                            </ul>
                        </li>
                        <li ng-if="!root.isLoggedIn()" class="SiteChromeHeader__sign-in SiteChromeHeader__navigation-link" id="desk-sign">
                            <a class="SiteChromeHeader__navigation-text" href="#">Sign in A</a>
                        </li>

                        <li ng-if="root.isLoggedIn()" class="SiteChromeHeader__sign-in SiteChromeHeader__navigation-link">
                            <a class="SiteChromeHeader__navigation-text" href="#">{{root.authUser().email}}</a>
                        </li>




                    </ul>

                    <a class="SiteChromeHeader__mobile-nav-toggle" href="#" ng-click="handleMenuToggle()">
                        <span class="SiteChromeHeader__nav-toggle-span"></span>
                    </a>

                    <ul class="SiteChromeHeader__navigation" style="display: none;">
                        <li class="SiteChromeHeader__sign-in SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-text" href="#">Sign in B</a></li>
                        <li class="SiteChromeHeader__navigation-link SiteChromeHeader__car-listings"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text SiteChromeHeader__active-link">Browse cars</span></a></li>
                        <li class="SiteChromeHeader__navigation-link SiteChromeHeader__selling">
                            <a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Sell your car</span></a></li>
                        <li class="SiteChromeHeader__navigation-link SiteChromeHeader__financing"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Financing</span></a></li>
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="/buy"><span class="SiteChromeHeader__navigation-text">How Shift works</span></a></li>
                        <li class="SiteChromeHeader__more-li"><span class="SiteChromeHeader__navigation-text SiteChromeHeader__more-link">More</span><ul class="SiteChromeHeader__more-nav">
                            <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">About Haladrive</span></a></li>
                            <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Get the Mobile App</span></a></li>
                            <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Car Loan Calculator</span></a></li>
                            <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Blog</span></a>
                            </li>
                            <li class="SiteChromeHeader__navigation-link SiteChromeHeader__enthusiasts"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Concierges</span></a></li>
                            <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Careers</span></a></li>
                            <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Support</span></a></li>
                            <li class="SiteChromeHeader__navigation-link SiteChromeHeader__phone"><a class="SiteChromeHeader__navigation-link-anchor" href="tel:+18557443801"><span class="SiteChromeHeader__navigation-text">111-111-1111</span></a></li>
                        </ul></li></ul>

                </nav>
            </header>



            <!-- header end -->


            <!-- intro content start -->


            <div id="page-container" class="cars-page-active">
                <section class="CarListingsLeader__root CarListingsLeader__new CarListingsPage__leader CarListingsPage__leader-visible">
                    <div class="CarListingsLeader__content">
                        <div class="CarListingsLeader__headline">
                            <div>
                                <h1><span class="CarListingsLeader__headline-text">
                                Simplified car rental

                                <span ng-if="root.isLoggedIn()">
                                    

                                    {{root.authUser().name}}


                                </span>

                            </span></h1>
                                <p>

                                    
                                    <nobr>Great cars. Better prices.</nobr>
                                    <!-- react-text: 75 -->
                                    <!-- /react-text -->
                                    <nobr>Booking Simplified.</nobr>
                                </p>
                            </div>
                            <div class="CarListingsLeader__header-search-container">
                                <div class="CarSearchForm__root CarListingsLeader__header-search">
                                    <!-- search field and a button was removed from ehre -->
                                </div>

                            </div>
                        </div>
                    </div>


                </section>


                <!-- intro content ends -->




                <div></div>
            </div>





    



                <div class="CarBrowser__container"><span>
    <div class="CarBrowser__root CarBrowser__has-modal-sidebar" ng-class="{'CarBrowser__modal-sidebar-open': filterModelState}">
        <div class="CarBrowser__sidebar-wrapper Modal__layout-feature Modal__root" ng-class="{'CarBrowser__sidebar-wrapper-top': !filterModelState}">


    <!-- sidebar inner starts-->


    <div class="Modal__content">
        
    

    <div class="CarBrowser__sidebar-inner-wrapper">
    <div class="CarBrowser__sidebar">
    <div class="CarBrowser__sidebar-filters-title">
        <div class="Row__root show-on-modal-open">
            <div class="CarSearchForm__root CarBrowserListTitle__list-title-search">
                <!-- search field will be placed here -->
            </div>
        </div>

        <div class="Row__root CarBrowser__sidebar-filters-result">
            <div class="Column__root" style="flex: 2 1 0%;">
           {{vm.cars.v.length}} of {{vm.cars.records}} matches :<a ng-if="haveFilters()"href="#" class="CarBrowser__sidebar-filters-clear" ng-click="clearFilters()">Clear Filters</a>
            </div>
            <div class="Column__root show-on-modal-open" style="flex: 1 1 0%;" >
                <button class="Button__root Button__color-red Button__size-xsmall Button__weight-normal Button__inverted-colors" type="button" ng-click="modelFilterToggle()">
                    <span class="Button__content">X Close</span></button>
            </div>
        </div></div><div class="ScrollContainer__root CarBrowser__filters-scroller"><div><div class="CarBrowser__filters-scroller-content">
            <div class="CarBrowser__filters-section">
                <h4 class="CarBrowser__filters-section-header CarBrowser__filters-toggles">
                    <a class="CarBrowser__filters-toggle CarBrowser__filters-toggle-active" href="#" id="d">Daily Price</a>
                    <a class="CarBrowser__filters-toggle" href="#" id="m">Monthly Price</a></h4>
                    <div class="MakeItRain__root CarBrowser__slider-value-label">
                        <span class="NoWrap__root">
                            <span class="MakeItRain__dollar">KD</span>
                            <span class="MakeItRain__price" id="priceSlideValue">{{priceRange}}</span>
                            <span class="MakeItRain__suffix">&nbsp; <!-- +k removed --> </span>
                        </span>
                    </div>



<div class="slidecontainer active" id="daily-slide-container">
    <!-- daily slider -->
  <input type="range" min="100" max="5000" ng-model="priceRange" class="slider" id="dailySlider" data-price="d" ng-value="100" ng-change="updatePrice(priceRange)">

</div>


<div class="slidecontainer" id="monthly-slide-container">
    <!-- monthly slider -->
  <input type="range" min="100" max="6000" class="slider" id="monthlySlider" data-price="m">

</div>




                
</div>
<div class="CarBrowser__filters-section">

    <div class="CarBrowser__filters-section-header CarBrowser__slider-label">Max Mileage</div>
    <div class="CarBrowser__slider-value-label" id="mileageSlideOutput">{{mileRange}}</div>
    <div class="slidecontainer">
        <input type="range" min="0" max="10000" ng-model="mileRange" class="slider" id="mileageSlider" ng-value="100" ng-change="updateMile(mileRange)">
    </div>
</div>


<div class="CarBrowser__filters-selectors">
    <div class="CarBrowserFilterSelectorList__root CarBrowser__filters-section" ng-repeat="filters in apiGlobals">
        <h4 class="CarBrowser__filters-section-header" ng-class="[isOpenList(filters.en)]" ng-click="filterHeader(filters.en)">{{filters.en}}</h4>
        <ul class="CarBrowser__filters-list" ng-class="[filterHeaderClass(filters.en)]">
            <li class="CarBrowser__filters-list-item" ng-repeat="item in filters.list" ng-click="filterListSelc(item)" ng-class="[isFilterItemActive(item)]">
                <a class="CarBrowser__filters-list-item-link CarBrowser__filters-list-item-link-available" href="#">
                <span class="CarBrowser__filters-list-item-link-text">{{item.titleEN}}</span></a>
            </li>           
        </ul>
    </div>
</div>
</div>
</div>
</div>
</div>
</div><!-- CarBrowser__sidebar-inner-wrapper -->

</div><!-- Modal__content -->


            <!-- ends -->


</div>


        <!-- car list container -->


    <div id="car-list-container " class="is-tiled">
    <div class="CarBrowser__body">
        <div class="CarBrowser__title-for-matches CarBrowser__list-title-spacer">
            <div class="CarBrowser__list-title">

                <div class="CarBrowser__list-title-body CarBrowser__content-with-sidebar" id="desktop-filter">
                    <div class="CarSearchForm__root CarBrowserListTitle__list-title-search">

                        <!-- search field starts -->


            <select chosen multiple data-placeholder="Type search Term" style="width: 80%"  class="select-with-search chosen-with-icon" tabindex="1">
            <option value=""></option>
            <option value="United States">United States</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Aland Islands">Aland Islands</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="American Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
          </select>




                        <!-- search field ends -->


                        <!-- Select CarSearchForm__select -->
                    </div>
                    <div class="CarBrowser__list-title-get-notified">
                        <div class="CarBrowserGetNotifiedButton__root">
                            <button class="CarBrowserGetNotifiedButton__btn Button__root Button__color-red Button__size-xsmall Button__weight-normal Button__inverted-colors" type="button"><span class="Button__content">Notify me</span></button>
                        </div>
                    </div>
                    <div class="CarBrowserSort__root CarBrowser__list-title-sort"><span class="black shift-select-container">
                        <select 
                        chosen placeholder-text-single="'Sort By'" disable-search="true"  
                          id="filter-select-1" style="width:120px">
                            
                            <option value=""></option>
                            <option value="latest">Latest</option>
                            <option value="minMileage">< Mileage</option>
                            <option value="maxMileage">> Mileage</option>
                            <option value="minPrice">< Price</option>
                            <option value="MaxPrice">> Price</option>
                            
                        </select>

                    </span>
                </div>
            </div> <!-- desktop filter -->






            <div class="CarBrowser__list-title-body CarBrowser__content-with-sidebar" id="mobile-filter">
                <div class="CarBrowser__show-filters-btn" ng-click="modelFilterToggle()">Filter</div>
                <div class="CarBrowser__list-title-results">{{vm.cars.records}} Cars</div>
                <div class="CarBrowser__list-title-get-notified">
                    <div class="CarBrowserGetNotifiedButton__root">
                        <button class="CarBrowserGetNotifiedButton__btn CarBrowserGetNotifiedButton__icon-only Button__root Button__color-red Button__size-xsmall Button__weight-normal Button__inverted-colors" type="button"><span class="Button__content"></span></button>
                    </div>
                </div>
                <div class="CarBrowserSort__root CarBrowser__list-title-sort">
                    <span class="black shift-select-container">


                        <select 
                        chosen placeholder-text-single="'Sort By'" disable-search="true"  
                          id="filter-select-1" style="width:120px">
                            
                            <option value=""></option>
                            <option value="latest">Latest</option>
                            <option value="minMileage">< Mileage</option>
                            <option value="maxMileage">> Mileage</option>
                            <option value="minPrice">< Price</option>
                            <option value="MaxPrice">> Price</option>
                            
                        </select>




                    </span></div>
            </div> <!-- mobile filter -->






        </div> <!-- car-browser list title -->


        <div class="CarBrowser__list-title-fixed-mobile CarBrowser__list-title-fixed-mobile-animated CarBrowser__list-title" id="mobile-filter">
            <div class="CarBrowser__list-title-body CarBrowser__content-with-sidebar">
                <div class="CarBrowser__show-filters-btn" ng-click="modelFilterToggle()">Filter</div>
                <div class="CarBrowser__list-title-results">{{vm.cars.records}} cars</div>
                <div class="CarBrowser__list-title-get-notified">
                    <div class="CarBrowserGetNotifiedButton__root"><button class="CarBrowserGetNotifiedButton__btn CarBrowserGetNotifiedButton__icon-only Button__root Button__color-red Button__size-xsmall Button__weight-normal Button__inverted-colors" type="button"><span class="Button__content"></span></button>
                    </div></div>
                    <div class="CarBrowserSort__root CarBrowser__list-title-sort">
                        <span class="black shift-select-container">

                        <select 
                        chosen placeholder-text-single="'Sort By'" disable-search="true"  
                          id="filter-select-1" style="width:120px">
                            
                            <option value=""></option>
                            <option value="latest">Latest</option>
                            <option value="minMileage">< Mileage</option>
                            <option value="maxMileage">> Mileage</option>
                            <option value="minPrice">< Price</option>
                            <option value="MaxPrice">> Price</option>
                            
                        </select>

                </span></div></div>
                </div>


    </div>

    <div class="CarBrowser__list-title CarBrowser__all-cars-title">
        <div class="CarBrowser__section-title CarBrowser__list-title-body">Matched: {{vm.cars.records}} Cars : {{vm.queryString}}</div>

        
    </div>
    <div>
        <div class="CarBrowser__list">
            <div>

                <!-- 
                desktop: CarBrowserCarCard__root CarBrowserCarCard__large CarBrowserCard__root CarBrowserCard__large 
                small Mobile : CarBrowserCarCard__root CarBrowserCard__root CarBrowserCard__small
                -->
                <a ng-class="{'CarBrowserCarCard__root CarBrowserCard__root CarBrowserCard__small' : true}" ng-repeat="car in vm.cars.v" ui-sref="details({id: car.id})">
                    <div class="CarBrowserCarCard__favorite-heart CarFavoriteHeart__root">
                        <div class="CarFavoriteHeart__icon-container">
                            <div class="CarFavoriteHeart__icon"></div>
                        </div>
                    </div>
                    <div class="CarBrowserCarCard__photo-wrapper">
                        <img ng-alt="{{car.makerEN+' '+car.modelEN+'-'+car.year}}" class="CarBrowserCarCard__photo" itemprop="image"
                             ng-src="{{baseUrl+'/uploads'+'/'+car.photo}}"
                        ></div>
                    <div class="CarBrowserCarCard__body">
                        <div class="CarBrowserCarCard__row">
                            <div class="CarBrowserCarCard__name" itemprop="name" content="{{car.makerEN+' '+car.modelEN}}">
                                <span class="CarBrowserCarCard__make" itemprop="manufacturer">{{car.makerEN}}</span>
                                <span itemprop="model">{{car.modelEN}}</span></div>
                        </div>
                        <div class="CarBrowserCarCard__row">
                            <div class="CarBrowserCarCard__year">{{car.year}}</div>
                            <div class="CarBrowserCarCard__mileage">{{car.mileage}} miles</div>
                            <div class="CarBrowserCarCard__price" itemprop="price" ng-bind:content="car.price">
                                <span class="CarBrowserCarCard__price-dollar" itemprop="priceCurrency" content="KD">KD</span>{{car.price}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="spacer" style="height: 200px;">&nbsp;</div>


        </div>
    </div>
</div>
</div>




        <!-- car list container ends -->

</div>
</span>
                </div>
            
        </div>
    </div>


    <!-- contents ends -->

</div>



