<div>
   <div class="AccountDashboard__container AccountPeronsalInformation__root">
      <div class="AccountDashboard__content">
         <div class="AccountDashboard__container-title AccountDashboard__personal-info-title">Personal information</div>
         <form class="ModelForm__root">
            <div class="Row__root AccountPersonalInformation__form-names Row__direction-column-420" style="justify-content: space-between;">
               <div class="AccountPersonalInformation__form-split-input ModelFormInput__root">
                  <label class="ModelFormInput__label" for="ModelFormInput__firstName">
                     Name EN
                  </label>
                  <input id="ModelFormInput__firstName" name="firstName" value="" placeholder="First name" class="ModelFormInput__input">
                  <div class="ModelFormInput__error ModelFormInput__firstName-error"></div>
               </div>
               <div class="AccountPersonalInformation__form-split-input ModelFormInput__root">
                  <label class="ModelFormInput__label" for="ModelFormInput__lastName">
                     Name AR
                  </label>
                  <input id="ModelFormInput__lastName" name="lastName" value="" placeholder="Last name" class="ModelFormInput__input">
                  <div class="ModelFormInput__error ModelFormInput__lastName-error"></div>
               </div>
            </div>
            <div class="AccountInformation__form-input ModelFormInput__root">
               <label class="ModelFormInput__label" for="ModelFormInput__phone">
                  Mobile 
               </label>
               <input type="tel" id="ModelFormInput__phone" name="phone" value="" placeholder="Phone number" class="ModelFormInput__input">
               <div class="ModelFormInput__error ModelFormInput__phone-error"></div>
            </div>
            <div class="AccountInformation__form-input ModelFormAddressInput__root ModelFormInput__root">
               <label class="ModelFormInput__label" for="ModelFormInput__address">
                  Address
               </label>
               <input type="text" id="ModelFormInput__address" name="address" value="" placeholder="Street address" class="ModelFormInput__input" autocomplete="off">
               <div class="ModelFormInput__error ModelFormInput__address-error"></div>
            </div>
            <button class="AccountPersonalInformation__save-cta Button__root Button__color-red Button__size-medium Button__weight-normal Button__full-width" type="submit">
               <span class="Button__content">
                  <div class="AccountPersonalInformation__changes-saved-text">Save changes</div>
               </span>
            </button>
         </form>
      </div>
   </div>
   <div class="AccountDashboard__container">
      <div class="AccountDashboard__content">
         <div class="AccountDashboard__container-title">Account information</div>
         <div class="IdleEmailForm__root">
            <div class="IdleEmailForm__container-label">Email</div>
            <div>
               <div class="IdleEmailForm__form">{{root.authUser().email}}</div>
            </div>
         </div>
         <div class="IdlePasswordForm__root">
            <div class="IdlePasswordForm__container-label">Password</div>
            <div>
               <div class="IdlePasswordForm__form">••••••••</div>
               <a class="IdlePasswordForm__link" href="#">Change</a>
            </div>
         </div>
         
      </div>
   </div>
</div>