
<div id="page-node">

  

    <!-- id="cars-page
    class="CarProfileV2__root" 
    -->
  
   <div ng-attr-id="{{ pub.pageId == 'browse'   ? 'cars-page': ''}}" ng-class="{'CarProfileV2__root': pub.pageId == 'details'}">


      <div class="SiteChromeHeader__root" ng-class="{'SiteChromeHeader__inverted-colors': pub.pageId == 'details'}">
         <!-- header -->

          <!--
           ng-class="[bodyFilterModelClass()]"

           ng-class="[filterHeaderClass()]"

           whileBrowseList browsing
           SiteChromeHeader__car-listings-active cars-page-active


         -->


         <header class="SiteChromeHeader__background" 

          ng-class="{

          'SiteChromeHeader__car-listings-active cars-page-active': pub.pageId == 'browse',


          }"


            id="topmenu">
            <nav class="SiteChromeHeader__nav">
               <a class="SiteChromeHeader__default-logo SiteChromeHeader__shift-logo" href="/"></a>
               <div class="region-select-wrapper shift-select-container white SiteChromeHeader__region-select-container">
                  <span class="region-select white shift-select-container">
                  </span>
               </div>
               <ul class="SiteChromeHeader__navigation SiteChromeHeader__hidden">
                  <li class="SiteChromeHeader__favorites-heart-li">
                     <a class="SiteChromeHeader__favorites-heart CarFavoritesHeaderHeart__root" href="#">

                        <!--
                        <div class="CarFavoritesHeaderHeart__heart-container">
                           <div class="CarFavoritesHeaderHeart__heart"></div>
                        </div>
                     -->
                        <div class="CarFavoritesHeaderHeart__number-container">
                           <div class="CarFavoritesHeaderHeart__number" ng-click="switchLang()">{{langLabel()}}</div>
                        </div>
                     </a>
                  </li>
                  <li class="SiteChromeHeader__navigation-link SiteChromeHeader__car-listings">
                     <a class="SiteChromeHeader__navigation-link-anchor" ui-sref="pub.list()">
                     <span class="SiteChromeHeader__navigation-text">Browse cars</span>
                  </a></li>
                  <li class="SiteChromeHeader__navigation-link SiteChromeHeader__selling"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Sell your car</span></a></li>
                  <li class="SiteChromeHeader__navigation-link SiteChromeHeader__financing"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Financing</span></a></li>
                  <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">How it works</span></a></li>
                  
                  <li ng-if="!root.isLoggedIn()" class="SiteChromeHeader__sign-in SiteChromeHeader__navigation-link" id="desk-sign">
                     <a class="SiteChromeHeader__navigation-text" href="#" ng-click="pub.showAuthModal = true">Sign in</a>
                  </li>
                  <!--
                  <li ng-if="root.isLoggedIn()" class="SiteChromeHeader__sign-in SiteChromeHeader__navigation-link">
                     <a class="SiteChromeHeader__navigation-text" ui-sref="app.dashboard()">{{root.authUser().email}}</a>
                 </li>
                  -->

                  <li class="SiteChromeHeader__more-li " ng-if="root.isLoggedIn()">
                     <span class="SiteChromeHeader__navigation-text SiteChromeHeader__more-link" id="more-nav-link" ng-click="moreLinkEnabled = !moreLinkEnabled">
                     {{root.authUser().email}}</span>
                     <ul class="SiteChromeHeader__more-nav" ng-class="{'SiteChromeHeader__hidden': !moreLinkEnabled}">
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" ui-sref="app.dashboard()">
                           <span class="SiteChromeHeader__navigation-text">Dashboard</span></a></li>

                           <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" ui-sref="app.profile()"><span class="SiteChromeHeader__navigation-text">Profile</span></a></li>
                        
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" ui-sref="app.bookings()"><span class="SiteChromeHeader__navigation-text">Bookings</span></a></li>
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" ui-sref="app.invoices()"><span class="SiteChromeHeader__navigation-text">Invoices</span></a></li>
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" ui-sref="app.logout()"><span class="SiteChromeHeader__navigation-text">Logout</span></a></li>
                        <li class="SiteChromeHeader__navigation-link SiteChromeHeader__phone"><a class="SiteChromeHeader__navigation-link-anchor" href="tel:+03343533668">
                           <span class="SiteChromeHeader__navigation-text">000-000-0000</span></a></li>
                     </ul>
                  </li>


               </ul>
               <a class="SiteChromeHeader__mobile-nav-toggle" href="#" ng-click="handleMenuToggle()">
               <span class="SiteChromeHeader__nav-toggle-span"></span>
               </a>
               <ul class="SiteChromeHeader__navigation" style="display: none;">
                  <li class="SiteChromeHeader__sign-in SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-text" href="#">Sign in B</a></li>
                  <li class="SiteChromeHeader__navigation-link SiteChromeHeader__car-listings"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Browse cars</span></a></li>
                  <li class="SiteChromeHeader__navigation-link SiteChromeHeader__selling">
                     <a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Sell your car</span></a>
                  </li>
                  <li class="SiteChromeHeader__navigation-link SiteChromeHeader__financing"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Financing</span></a></li>
                  <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="/buy"><span class="SiteChromeHeader__navigation-text">How Shift works</span></a></li>
                  <li class="SiteChromeHeader__more-li">
                     <span class="SiteChromeHeader__navigation-text SiteChromeHeader__more-link">More</span>
                     <ul class="SiteChromeHeader__more-nav">
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">About Haladrive</span></a></li>
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Get the Mobile App</span></a></li>
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Car Loan Calculator</span></a></li>
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Blog</span></a>
                        </li>
                        <li class="SiteChromeHeader__navigation-link SiteChromeHeader__enthusiasts"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Concierges</span></a></li>
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Careers</span></a></li>
                        <li class="SiteChromeHeader__navigation-link"><a class="SiteChromeHeader__navigation-link-anchor" href="#"><span class="SiteChromeHeader__navigation-text">Support</span></a></li>
                        <li class="SiteChromeHeader__navigation-link SiteChromeHeader__phone"><a class="SiteChromeHeader__navigation-link-anchor" href="tel:+18557443801"><span class="SiteChromeHeader__navigation-text">111-111-1111</span></a></li>
                     </ul>
                  </li>
               </ul>
            </nav>
         </header>
         <!-- header end -->



         



         <div ui-view></div>




          <!-- start auth modal -->


  <div ng-if="pub.showAuthModal" class="Modal__root Modal__is-open Modal__layout-marketing">
   <div class="Modal__content">
      <div class="Modal__close" tabindex="-1" ng-click="pub.showAuthModal = false"></div>
      <div>
         <div class="AccountFormContainer__root">

            <div class="modal_body_content" ng-if="pub.modalType == 'login'">


               <div class="AccountFormContainer__header">Sign in</div>



               <div class="AccountFormContainer__form-container">
                  <form class="ModelForm__root">
                     <div class="ModelFormInput__root">
                        <label class="ModelFormInput__label" for="ModelFormInput__email">Email</label>
                        <input type="email" id="ModelFormInput__email" name="email" value="" placeholder="Email" class="ModelFormInput__input" ng-model="pub.creds.email">
                        <div class="ModelFormInput__error ModelFormInput__email-error"></div>
                     </div>
                     <div class="ModelFormInput__root">
                        <label class="ModelFormInput__label" for="ModelFormInput__password">Password</label>
                        <input type="password" id="ModelFormInput__password" name="password" value="" placeholder="Password" class="ModelFormInput__input"
                        ng-model="pub.creds.password"
                        >
                        <div class="ModelFormInput__error ModelFormInput__password-error"></div>
                     </div>
                     <div class="AccountSignInForm__inner"></div>
                     <button class="AccountFormContainer-button Button__root Button__color-red Button__size-medium Button__weight-normal Button__full-width" type="submit" ng-click="pub.attemptLogin()"><span class="Button__content">Sign in</span></button>
                  </form>
                  <a class="AccountSignIn__cta-alternative" href="#" ng-click="pub.modalType = 'forget'">Forgot password</a>
                  <div class="ContentDividerLine__root">
                     <div class="ContentDividerLine__line ContentDividerLine__line-flex"></div>
                     <div class="ContentDividerLine__content">or</div>
                     <div class="ContentDividerLine__line ContentDividerLine__line-flex"></div>
                  </div>
                  <button class="AccountFormContainer-button Button__root Button__color-red Button__size-medium Button__weight-normal Button__full-width Button__inverted-colors" type="button" ng-click="pub.modalType = 'register'">
                    <span class="Button__content">Create an account</span>
                  </button>
               </div>

            </div><!-- modal_body_content -->



            <div class="modal_content_body" ng-if="pub.modalType == 'register'">
                  <div class="AccountFormContainer__header">Create an account</div>
                  <div class="AccountFormContainer__form-container">
                     <form class="ModelForm__root">


                      <div class="ModelFormInput__root">
                           <label class="ModelFormInput__label" for="ModelFormInput__name">Name</label>
                           <input type="text" id="ModelFormInput__name" name="name" value="" placeholder="Name" class="ModelFormInput__input"
                           ng-model="pub.nu.name"
                           >
                           <div class="ModelFormInput__error ModelFormInput__email-error">this is error text</div>
                        </div>




                        <div class="ModelFormInput__root">
                           <label class="ModelFormInput__label" for="ModelFormInput__email">Email</label>
                           <input type="email" id="ModelFormInput__email" name="email" value="" placeholder="Email" class="ModelFormInput__input"
                           ng-model="pub.nu.email"
                           >
                           <div class="ModelFormInput__error ModelFormInput__email-error"></div>
                        </div>

                        <div class="ModelFormInput__root">
                           <label class="ModelFormInput__label" for="ModelFormInput__civilno">Civil No</label>
                           <input type="text" id="ModelFormInput__civilno" name="civilno" value="" placeholder="Civil No" class="ModelFormInput__input"
                           ng-model="pub.nu.civilno"
                           >
                           <div class="ModelFormInput__error ModelFormInput__email-error"></div>
                        </div>



                        <div class="ModelFormInput__root">
                           <label class="ModelFormInput__label" for="ModelFormInput__password">Password</label>
                           <input type="password" id="ModelFormInput__password" name="password" value="" placeholder="Password" class="ModelFormInput__input"
                           ng-model="pub.nu.password"
                           >
                           <div class="ModelFormInput__error ModelFormInput__password-error"></div>
                        </div>

                        <div class="ModelFormInput__root">
                           <label class="ModelFormInput__label" for="ModelFormInput__password">Confirm Password</label>
                           <input type="password" id="ModelFormInput__password" name="password" value="" placeholder="Confirm Password" class="ModelFormInput__input"
                           ng-model="pub.nu.cpassword"
                           >
                           <div class="ModelFormInput__error ModelFormInput__password-error"></div>
                        </div>


                        <div class="TermsAcceptanceCheckbox__terms-checkbox ModelFormCheckbox__root" tabindex="0">
                           <input type="checkbox" id="ModelFormCheckbox__terms" name="terms" placeholder="[object Object]" class="ModelFormCheckbox__input" value="on">
                           <label class="ModelFormCheckbox__label ModelFormInput__label-show ModelFormInput__label" for="ModelFormCheckbox__terms">
                              <div class="ModelFormCheckbox__checkbox Checkbox__root Checkbox__size-normal Checkbox__color-red Checkbox__bordered"></div>
                              <span class="ModelFormCheckbox__label-content">
                                 <span class="TermsAcceptanceCheckbox__terms-label">
                                    I agree to Haladrive’s<a target="_blank" href="/terms">Terms of Service &amp; Privacy Policy</a>
                                 </span>
                              </span>
                           </label>
                           <div class="ModelFormInput__error ModelFormInput__terms-error"></div>
                        </div>
                        <button class="AccountFormContainer-button Button__root Button__color-red Button__size-medium Button__weight-normal Button__full-width"><span class="Button__content" ng-click="pub.doRegister()">Sign up</span></button>
                     </form>
                     <div class="ContentDividerLine__root">
                        <div class="ContentDividerLine__line ContentDividerLine__line-flex"></div>
                        <div class="ContentDividerLine__content">or</div>
                        <div class="ContentDividerLine__line ContentDividerLine__line-flex"></div>
                     </div>
                     <button class="AccountFormContainer-button Button__root Button__color-red Button__size-medium Button__weight-normal Button__full-width Button__inverted-colors" type="submit" ng-click="pub.modalType = 'login'"><span class="Button__content">Sign in</span></button>
                  </div>
               </div><!-- modal_content_body -->


            <div class="modal_content_body" ng-if="pub.modalType == 'forget'">
            <div class="AccountForgotPassword__root">
               <div class="AccountFormContainer__root">
                  <div>
                     <div class="AccountFormContainer__header">Reset password</div>
                     <div class="AccountFormContainer__form-container">
                        <div class="AccountForgotPassword__message">We’ll send a link to reset your password</div>
                        <form class="ModelForm__root">
                           <div class="ModelFormInput__root">
                              <label class="ModelFormInput__label" for="ModelFormInput__email">
                                 <!-- react-text: 1150 -->Email address<!-- /react-text -->
                              </label>
                              <input type="email" id="ModelFormInput__email" name="email" placeholder="Email address" class="ModelFormInput__input">
                              <div class="ModelFormInput__error ModelFormInput__email-error"></div>
                           </div>
                           <button class="Button__root Button__color-red Button__size-medium Button__weight-normal Button__full-width" type="submit"><span class="Button__content">Send reset link</span></button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div><!-- modal_content_body -->

         </div>
      </div>
   </div>
</div>

                    


                            <!-- end auth modal -->    




         <footer ng-if="pub.footer">
                    <div class="content-width">
                        <div class="one-column-layout">
                            <div class="column">
                                <div class="contact-line">
                                    <a class="shift-logo" href="/" tabindex="0"></a>
                                </div>
                            </div>
                        </div>
                        <div class="two-column-layout">
                            <div class="column">
                                <div class="region-select-wrapper shift-select-container white">
                                    <label for="footer-region-select">Your region:</label>
                                    <span class="region-select white shift-select-container">
                  <select readonly="" style="display: none;">
                     <option value="us/sfo">San Francisco</option>
                     <option value="us/ile">Inland Empire</option>
                     <option value="us/lax">Los Angeles</option>
                     <option value="us/sna">Orange County</option>
                     <option value="us/san">San Diego</option>
                     <option value="us/sgv">San Gabriel Valley</option>
                     <option value="us/sjc">San Jose</option>
                  </select>
                  <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 200px;" title="">
                     <a class="chosen-single">
                        <span>San Francisco</span>
                                    <div><b></b></div>
                                    </a>
                                    <div class="chosen-drop">
                                        <div class="chosen-search">
                                            <input type="text" autocomplete="off" readonly="">
                                        </div>
                                        <ul class="chosen-results"></ul>
                                    </div>
                                </div>
                                </span>
                            </div>
                            <div class="not-for-mobile">
                                <p>Haladrive is bringing trust and simplicity to the used car market. Our goal is to turn what is universally regarded as a burdensome life event into a delightful experience.</p>
                                <p>© iSystematic Technologies, Inc.</p>
                                <p><a ui-sref="pub.terms()" rel="nofollow">Terms of Service</a></p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="two-column-layout">
                                <div class="column not-for-mobile">
                                    <nav>
                                        <ul>
                                            <li><a ui-sref="pub.publist()">Browse cars</a></li>
                                            <li><a href="#">How it works</a></li>
                                            <li><a ui-sref="pub.about()">About Haladrive</a></li>
                                            <li><a href="#">Support</a></li>
                                            <li><a ui-sref="pub.terms()" rel="nofollow">Terms and Privacy</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="column">
                                    <ul class="social">
                                        <li class="email"><a href="mailto:support@haladrive.com">support@haladrive.com</a></li>
                                        <li class="facebook"><a href="#" target="_blank" rel="nofollow">Facebook</a></li>
                                        <li class="linkedin"><a href="#" target="_blank" rel="nofollow">LinkedIn</a></li>
                                        <li class="press"><a href="#">Press Inquiries</a></li>
                                        <li class="angellist"><a href="#" target="_blank" rel="nofollow">angel.co/haladrives</a></li>
                                    </ul>
                                    <p class="for-mobile">© iSystematic Technologies, Inc.</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
            </div>
            </footer>


         

         

         
         
      </div>
   </div>
</div>